<div>
<h4>Fecha: <%= Time.now.strftime("%F")%> <h4>
<h5>Hora <%= Time.now.strftime("%H:%M:%S")%> <h5>
<%= form_for @empleyees do |f| %>
     <%= f.label  :title %><br>
     <%= f.text_field :title%><br>
     <%= f.submit  %>
<%end%>
</div>
