<!DOCTYPE html>
<html>
  <head>
    <title>RelojChecador</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="body">
    <header>
      <nav class="navbar ">
        <h1 class="watch-title" >Reloj checador</h1>
        <button class="button_header" id="left">Login</button>
	      <button class="button_header" id="s">Admin</button> 
      </nav>
    </header>
    <%= yield %>
    
  </body>
</html>
